---
import 'photoswipe/style.css';

interface Props {
  img: string
  hover: string
}

const { img, hover } = Astro.props

let color = "img-c"

if (hover === 'gold') {
  color = 'img-gold'
}

const GALLERY_IMAGES = [
  {
    id: 1,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1600,
    height: 1200,
    span: "col-span-4",
  },
  {
    id: 2,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1200,
    height: 1600,
    span: "col-span-6",
  },
  {
    id: 3,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1600,
    height: 1200,
    span: "col-span-6",
  },
  {
    id: 4,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1200,
    height: 1600,
    span: "col-span-4",
  },
  {
    id: 5,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1200,
    height: 1600,
    span: "col-span-4",
  },
  {
    id: 6,
    alt: "Foto del consultorio Harmony Dental Clinic",
    width: 1600,
    height: 1200,
    span: "col-span-6",
  },
]
---

<div class="w-full grid grid-cols-10 auto-rows-[10rem] gap-4 place-content-center md:auto-rows-[10rem]" id="gallery">
  {
    Array.from({ length: 6 }).map((_, i) => (
    <a 
      class={`rounded-xl shadow-xl overflow-hidden ${GALLERY_IMAGES[i].span} ${color} transition-shadow aspect-auto`}
      href={`/${img}-${i + 1}.jpeg`} 
      data-cropped="true"
      data-pswp-width={`${GALLERY_IMAGES[i].width}`} 
      data-pswp-height={`${GALLERY_IMAGES[i].height}`}
      target="_blank"
    >
      <img 
        src={`/${img}-${i + 1}.webp`}
        alt={GALLERY_IMAGES[i].alt}
        loading="lazy"
        class="rounded-lg relative object-cover w-full h-full"
      >
    </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe'), 
  });
  lightbox.init();
  </script>

  <style>
    .img-c, .img-gold {
    transition: all 0.2s ease-in-out;
  }
  .img-c:hover {
    -webkit-box-shadow: 0px 0px 27px 17px rgba(219, 115, 212, 0.65);
    -moz-box-shadow: 0px 0px 27px 17px rgba(219, 115, 212, 0.65);
    box-shadow: 0px 0px 27px 17px rgba(219, 115, 212, 0.65);
    transition: all 0.2s ease-in-out;
  }
  .img-gold:hover {
    -webkit-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    -moz-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    transition: all 0.2s ease-in-out;
  }
</style>